block footer
    footer
        p
            a(href="mailto:marcus@thingsima.de" aria-label="Email")
                i(class="fa fa-envelope")
            a(href="https://github.com/marcus-crane" aria-label="Github")
                i(class="fa fa-github")
            a(href="https://steamcommunity.com/id/sandtree" aria-label="Steam")
                i(class="fa fa-steam")
            a(href="https://twitter.com/sentreh" aria-label="Twitter")
                i(class="fa fa-twitter")
            a(href="/" aria-label="About (disabled)")
                i(class="fa fa-question")
