block footer
    footer
        p
            a(href="mailto:marcus@thingsima.de")
                i(class="fa fa-envelope")
            a(href="https://github.com/marcus-crane")
                i(class="fa fa-github")
            a(href="https://steamcommunity.com/id/sandtree")
                i(class="fa fa-steam")
            a(href="https://twitter.com/sentreh")
                i(class="fa fa-twitter")
            a(href="/")
                i(class="fa fa-question")
