DOCTYPE
html
    head
        title Questions and Answers
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="/css/about.css" type="text/css" rel="stylesheet")
    body
        div#banner
            div#banner-text
                h1 A conversation with myself
                p No one has asked any questions yet so I can't really do an FAQ
                p#sub Feel free to send me fanmail...

        div#content
            br

            div#menu
                a(href="http://localhost:8080") Home

            section
                p#question What the heck is this site?
                p#answer
                    | I got really fed up that there hasn't been a "good" site for detailing release dates for videogames.
                    br
                    br
                    | Anime has #[a(href="http://anichart.net") Anichart] and yet we're still stuck in the stone age with wonky IGN wiki pages and Metacritic pages.
                    br
                    br
                    | I had wanted to build something I liked myself for a long time now but I only just got around to it #[abbr(title="22nd December, 2016") today].

            hr

            section
                p#question What's the setup?
                p#answer
                    | I handcode the HTML.
                    br
                    br
                    | Nah, like all the "cool kids", this site built using Node. It's an Express server, serving up Jade templates and stuffing them full of data from a PostgreSQL server. Nothing fancy!

            hr

            section
                p#question Name 3 games that not enough people have played!
                p#answer Red Faction: Guerilla, Asura's Wrath and Kane &amp; Lynch.

            hr

            section
                p#question There's a game that I think should be in the database but it isn't so can you fix it?
                p#answer
                    | As I'm writing this, I'm just entering stuff into the database by hand but if this site ever launches, there may be a way you can submit entries.
                    br
                    br
                    | I'm not gonna trust users to find good cover art...

        br

        div#footer
            p You can send all compliments to #[a(href="mailto:marcus@thingsima.de") this address].
