extends layout

block content
  .section
    .container
      - const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
      <div class="columns">
      each month, index in months
        if (index > 1 && index % 4 === 0)
          </div>
          <div class="columns">
        a.column(href=`/month/${month.toLowerCase()}`)
          p(class="notification is-dark")= month
      </div>