extends layout.pug

block title
    title Confirm this entry

block content
    include partials/header.pug
    include mixins/game.pug
    div#wrapper
        +game(game.title, game.date, game.bgcover)
    include partials/footer.pug
