extends layout.pug

block title
    title Confirm this entry

block content
    include partials/header.pug
    div#wrapper
        section#post()
            article#post
                h1 #{games.title}
                h2 #{games.date}
    include partials/footer.pug
