extends layout.pug

block title
    title Confirm this entry

block content
    include partials/header.pug
    include mixins/confirm_game_details.pug
    div#wrapper
        +confirm_game_details(game.name, game.date, game.bgcover, game.gb_id, game.developer, game.publisher, game.description)
    include partials/footer.pug
