extends layout.pug

block title
    title Confirm this entry

block content
    include partials/header.pug
    div#wrapper
        section.game()
            article.details
                h1 #{games.title}
                h2 #{games.date}
    include partials/footer.pug
