extends layout

block content
  section(class="hero is-info")
    .hero-body
      .container
        h1.title= title
  
  section.section
    .container
      h1 Description
      p Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.