extends layout

block content
  section(class="hero is-info")
    .hero-body
      .container
        h1.title= game.name
        h2.subtitle= h.moment(game.release).fromNow()
  
  section.section
    .container
      p= game.description