extends layout.pug

block title
    title Upcoming Releases

block content
    include mixins/header.pug
    include mixins/game.pug
    div#wrapper
        each val in games
            +game(val[0], val[1], val[2])
