extends layout.pug

block title
    title Upcoming Releases

block content
    each val in games
        p #{val[0]} releases in #{val[1]}
        p Developed by #{val[2]} and published by #{val[3]}
        hr