extends layout.pug

block title
    title Upcoming Releases

block content
    include partials/header.pug
    include mixins/game.pug
    div#wrapper
        each entry in games
            +game(entry.name, entry.date, entry.bgcover)
    include partials/footer.pug
