extends layout

include mixins/_gameCard

block content
  h1.title= title

  <div class="uk-child-width-expand@s uk-text-center uk-grid-match" uk-grid>
    each game, index in games
      if (index > 1 && index % 4 === 0)
        </div>
        <div class="uk-child-width-expand@s uk-text-center uk-grid-match" uk-grid>
      +gameCard(game)
  </div>