extends layout

include mixins/_gameSnippet

block content
  section(class="hero is-info")
    div(class="hero-body")
      div(class="container")
        h1(class="title") #{title}
        h2(class="subtitle") What's up next?
  
  section(class="section")
    div(class="columns")
      each game in games
        div(class="column is-half")
          +gameSnippet(game)