extends layout

include mixins/_gameSnippet

block content
  section(class="hero is-info")
    .hero-body
      .container
        h1.title= title
        h2.subtitle= "What's up next?"
  
  section.section
    .container
      <div class="columns">
      each game, index in games
        if (index > 1 && index % 2 === 0)
          </div>
          <div class="columns">
        .column
          +gameSnippet(game)
      </div>