body {
	margin: 0;
	text-align: center;
}

a {
	text-decoration: none;
}

#menu a {
	border: 1px solid;
	border-radius: 30px;
	box-shadow: 3px 3px 2px gray;
	color: black;
	padding: 3px;
	padding-left: 7px;
	padding-right: 7px;
}

#banner {
	background-image: url(../img/bg2.jpg);
	height: 25%;
	width: 100%;
}

#banner-text {
	color: white;
	font-family: "Verdana", sans-serif;
	margin: 0 auto;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	width: 300px;
}

#banner-text h1 {
	font-size: 2em;
}

#banner-text p {
	font-size: 1em;
}

#banner-text p#sub {
	font-size: 0.5em;
}

hr {
	width: 25%;
}

section {
	padding-top: 10px;
	padding-bottom: 10px;
}

section #question {
	font-weight: bold;
}

#content {
	font-family: "Verdana", sans-serif;
	font-size: 0.8em;
	margin: 0 auto;
	width: 45%;
}

#footer {
	font-family: "Verdana", sans-serif;
	font-size: 0.6em;
}
