mixin gameSnippet(game = {})
  div(class="card")
    header(class="card-header")
      p(class="card-header-title") #{game.name}
      a(class="card-header-icon")
        span(class="icon")
          i(class="fa fa-angle-down")
    div(class="card-content")
      div(class="content")
        p= h.moment(game.release).format('MMMM Do YYYY')
        for platform in game.platforms
          span(class="tag is-dark") #{platform}
    footer(class="card-footer")
      a(class="card-footer-item") Edit
      a(class="card-footer-item") Delete