mixin gameSnippet(game = {})
  div(class="notification is-dark")
    h5(class="title is-5")
      a(href=`/game/${game.slug}`)= game.name
    h5(class="subtitle is-6")
      - let month = h.moment(game.release)
      a(href=`/month/${h.slug(month.format('MMMM'))}`)= month.format('MMMM Do YYYY')
      |   //   
      a(href=`/edit/${game.slug}`) Edit
    .platforms
    for platform in game.platforms
      span.tag
        a(href=`/platform/${h.slug(platform)}`)= platform