mixin game(title, date, bgcover)
    div.background
        section#post(style={'background-image': 'url(' + bgcover + ')'})
            article#post
                h1 #{title}
                h2 #{date}
