mixin game(title, date, bgcover, strings)
    section.game(style={'background-image': 'url(' + bgcover + ')'})
        article.details
            h1 #{title}
            h2 #{date.format("dddd, MMMM Do")}